Django
django-debug-toolbar
django-allauth
django-bootstrap-form==3.4
django-bootstrap4==23.2
django-chartjs==2.3.0
django-cleanup==8.0.0
django-crispy-forms==2.1
django-environ==0.11.2
django-formtools==2.4.1
django-guardian==2.4.0
django-registration==3.4
django-survey==0.0.3
django-survey-and-report==1.4.6
django-tastypie==0.14.6
django-user-accounts==3.3.2
flake8==6.1.0
google-auth==2.25.1
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.1.0
graphviz==0.20.1
oauthlib==3.2.2
Pillow==10.1.0
python-dateutil==2.8.2
python-decouple==3.8
python-mimeparse==1.6.0
python3-openid==3.2.0
